    /*Barra Lateral*/
.menu-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 28px;
    cursor: pointer;
    z-index: 2;
    color: white;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #2A4553;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 25px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
    text-align: left;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #1c2f38;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
}

.sidebar .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

ul {
    list-style-type: none;
    background-color: #2a4553;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.active-link {
    background-color: #1c2f38;
    color: white;
}

li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

li a:hover {
    background-color: #2a4553;
    color: #ffffff;
}
